
<% include header %>
<div id="event-content">
    <ol class="breadcrumb">
        <li class="breadcrumb-item active">Events</li>
    </ol>

    <p class="t-center" id="no-events-text"> There are no events registered at this moment.</p>

</div>
<% include footer %>

