<html>

<head>
    <title> <%= title %> </title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
    <link rel="stylesheet" href="assets/css/main.css" />
</head>

<body>
        <nav class="navbar navbar-toggleable-md navbar-light bg-faded">
            <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <a class="navbar-brand" href="#">Teravoz Challenge</a>
            
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="https://github.com/rikez/teravoz-challenge" target="_blank">Github <span class="sr-only">(current)</span></a>
                </li>
                </ul>
            </div>
        </nav>

        <table class="table table-bordered">
                <thead>
                  <tr>
                    <th>#</th>
                    <th>Call ID</th>
                    <th>Actor</th>
                    <th>Number</th>
                    <th>Number Type</th>
                    <th>Status</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <th scope="row">1</th>
                    <td>3123123123</td>
                    <td>enricomalvarenga@gmail.com</td>
                    <td>11940289846</td>
                    <td>Returning</td>
                    <td>Ongoing</td>
                  </tr>
                </tbody>
              </table>
              
</body>

</html>